.write {
  padding-top: 50px;
  background: #619ebd;
}

.writeImg {
  margin-left: 150px;
  width: 70vw;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.writeForm {
  position: relative;
}

.writeFormGroup {
  margin-left: 150px;
  display: flex;
  flex-direction: column;
}

.writeInput {
  font-size: 20px;
  border: none;
  padding: 20px;
  width: 70vw;
  background-color: #619ebd;
  color: #fff;
}

.writeInput::placeholder {
  color: rgb(189, 185, 185);
  font-weight: 400;
}

.writeText {
  width: 70vw;
  font-family: inherit;
  font-size: 20px;
}

.writeSubmit {
  color: white;
  background-color: #080909;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.ReactTags__selected {
  color: white;
}

.ReactTags__tagInputField {
  padding: 20px;
  background-color: #619ebd;
  border: none;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  width: 300px;
}

@media only screen and (max-width: 600px) {
  .writeImg {
    width: 80%;
    margin-left: 0;
    padding-left: 20px;
  }
  .writeFormGroup {
    margin-left: 0;
  }
  .ReactTags__tagInputField {
    margin-left: 20px;
    padding: 20px;
    background-color: #619ebd;
    border: none;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    width: 50%;
  }
}
