@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

.header {
  background-color: #3b7b9a;
  height: 30vh;
}

.headerTitleLg {
  font-family: 'Playfair Display', serif;
  color: #fff;
  font-size: 4rem;
  font-style: bold;
  /* text-decoration: underline; */
}

.headerTitleSm {
  font-family: "Lora", serif;
  color: #f9f3f3;
  font-size: 1.2rem;
  font-style: italic;
  font-style: bold;
  /* text-decoration: underline; */
}
